.new-taks-container {
  display: flex;
  flex-direction: row-reverse;
}
.new-taks-container button {
  margin: 10px;
}
.task-spinner {
  overflow: hidden;
  margin: 20px;
}
.task-spinner .mat-spinner {
  margin: 0 auto;
}
